body{
    background-image: url(images/back.jpg);
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.bod_tuto{
    background-image: url(images/back.jpg);
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.A_home{
    width: 50%;
    margin: 0 auto;
  
}



#h{
    color: red;
}

.h_hom{
    color: red;
}

